*{
  /* outline: 2px solid red; */
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 30px;
    font-weight: bold;
}

header{
    background-color: cadetblue;
    padding: 20px 0 0 20px;
    margin-bottom:10px;
    height: 100px;
}


body{
background-color: beige;
}

.recipes{
    display: flex;
    font-size: 20px;
    text-align: center;
}

img{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    height: 350px;
    width: 350px;
}

.meal-type {
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px 50px;
    line-height: 2;
}

.container {
    display: flex;
    /* align-items: flex-start; */
    gap: 20px;

    border: 2px solid #cccc;
    padding: 20px;
    border-radius: 10px;
    background-color: azure;
}

.description{
    flex: 1;
}

.ingredients {
border: 2px solid #cccc;
padding: 20px;
border-radius: 10px;
box-shadow: cadetblue;
background-color: azure;
}

.prep-steps{
border: 2px solid #cccc;
padding: 20px;
border-radius: 10px;
box-shadow: cadetblue;
background-color: azure;
}

